Source: python-mqttrpc
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: python
Priority: optional
Build-Depends: python3, dh-python, python3-setuptools, python-dev, debhelper (>= 7)
Standards-Version: 3.9.1
X-Python3-Version: >= 3.5

Package: python3-mqttrpc
Architecture: all
XB-Python-Version: ${python3:Version}
Depends: python3, ${misc:Depends}, ${shlibs:Depends}, python3-json-rpc
Description: Reference MQTT-RPC implementation
