Source: python-mqttrpc
Maintainer: Wiren Board team <info@wirenboard.com>
Section: python
Priority: optional
Build-Depends: python3, dh-python, python3-setuptools, debhelper (>= 9)
Standards-Version: 3.9.1
X-Python3-Version: >= 3.5
Homepage: https://github.com/wirenboard/python-mqtt-rpc

Package: python3-mqttrpc
Architecture: all
XB-Python-Version: ${python3:Version}
Depends: python3, ${misc:Depends}, ${shlibs:Depends}, python3-jsonrpc, python3-paho-mqtt, python3-wb-common (>= 2.1.0)
Description: Reference MQTT-RPC implementation
 Python implementation of MQTT-RPC.
